/*
[Theme Wizard Settings]

PORTAL_CSS=/AngelThemes/Themes/Angel7/portal.css
SIDEBAR_BUTTONS_CSS=/AngelThemes/Themes/Square Blue Glass/buttons.css
BANNER_CSS=/AngelThemes/Themes/Flat White/banner.css
NUGGET_CSS=/AngelThemes/Themes/Rounded/nugget.css
TOOLBAR_CSS=
TITLEBAR_CSS=
TABBAR_CSS=
TAB_CSS=
BUBBLE_CSS=
PORTAL_ICONS_CSS=
TAB_ICONS_CSS=
MAP_ICONS_CSS=/AngelThemes/themes/Normal/mapicon.css
SUBJECT_CSS=

IMPORT_1=
IMPORT_2=
IMPORT_3=

FONT_FACE='Droid Sans',Arial,Verdana,Helvetica,sans-serif
TEXT_SIZE=
TEXT_ATTRIB=
LINK_ATTRIB=
HOVER_ATTRIB=

PAGE_ATTRIB=
BANNER_ATTRIB=
TAB_ON_ATTRIB=
TAB_OFF_ATTRIB=
TABBAR_ATTRIB=
TOOLBAR_ATTRIB=
TITLEBAR_ATTRIB=
NUGTITLE_ATTRIB=
NUGBOX_ATTRIB=
NOTE_ATTRIB=

PAGE_BACKGROUND_COLOR=
PAGE_TEXT_COLOR=#333333
PAGE_LINK_COLOR=#1E439B
PAGE_HIGHLIGHT_COLOR=#793619
TITLEBAR_TEXT_COLOR=
TITLEBAR_BACKGROUND_COLOR=
NOTE_TEXT_COLOR=
NOTE_BACKGROUND_COLOR=
PGTITLE_TEXT_COLOR=
BREADCRUMB_BACKGROUND_COLOR=#89A0BC
BREADCRUMB_TEXT_COLOR=#333333

BANNER_TEXT_COLOR=
BANNER_BACKGROUND_COLOR=
TOOLBAR_TEXT_COLOR=
TOOLBAR_BACKGROUND_COLOR=
NUGTITLE_TEXT_COLOR=#333333
NUGTITLE_BACKGROUND_COLOR=#E8EEF7
NUGBOX_TEXT_COLOR=
NUGBOX_BACKGROUND_COLOR=

TAB_OFF_TEXT_COLOR=#666666
TAB_OFF_BACKGROUND_COLOR=#FFFFFF
TAB_ON_TEXT_COLOR=#333333
TAB_ON_BACKGROUND_COLOR=#E8EEF7

MAP_TEXT_COLOR=
MAP_BACKGROUND_COLOR=
MAP_FOOTER_TEXT_COLOR=
MAP_FOOTER_BACKGROUND_COLOR=

[End Theme Wizard Settings]
*/

/*BEGIN_TEMPLATE*/
@import url("/AngelThemes/_global.css");
@import url("/AngelThemes/Themes/Angel7/portal.css");
@import url("/AngelThemes/Themes/Square Blue Glass/buttons.css");
@import url("/AngelThemes/themes/Normal/mapicon.css");
@import url("/AngelThemes/Themes/Flat White/banner.css");
@import url("/AngelThemes/Themes/Rounded/nugget.css");
/***********************************************************************
* Styles and font sizes
***********************************************************************/
body { }
body, td, th { font-family:'Droid Sans',Arial,Verdana,Helvetica,sans-serif }
a, body.toc .nugBody a {  }
a:hover, body.toc .nugBody a:hover {  }
body.bodyLessons, body.bodyDefault, body.bodyCalendar {  } 
.toolbarDiv {  }
.titlebarDiv {  }
.shadedDiv {  }

/***********************************************************************
* Colors
***********************************************************************/
html, body, .rightCorner div, .leftCorner div, #subject_image { background-color: }
body { color:#333333; }
a, body.toc .nugBody a { color:#1E439B; }
a:hover, .highlight, a.highlight { color:#793619; }
.pageTitle, .pageTitleSpan, .pageSubtitleSpan { }

/* toolbar colors */
.toolbarDiv { }
.toolbarDiv, .toolbarDiv a, .toolbarDiv a:hover { }

/* portal interface colors */
body.interface, #tabMenu .rightCorner div, #tabMenu .leftCorner div { background-color:#89A0BC; }
body.interface, body.interface a, body.interface a:hover { color:#333333; }

/* banner colors */
#bannerSection .banner, #bannerSection .banner #tabMenu .rightCorner div, #bannerSection .banner #tabMenu .leftCorner div { }
#bannerSection .banner, #bannerSection .banner a, #bannerSection .banner a:hover, #bannerSection .banner .pageTitle, #bannerSection .banner .pageTitle a, #bannerSection .banner .pageTitle a:hover { }

/* tab colors */
#bannerSection #tabMenu li a, #bannerSection #tabMenu li a:hover { background-color:#FFFFFF;color:#666666; }
#bannerSection .tabbar, #bannerSection #tabMenu li a.active, #bannerSection #tabMenu li a.active:hover { background-color:transparent;color:#333333; }

/* nugget colors */
.nugTitle, #popup_title { background-color:#E8EEF7;color:#333333; }
.nugTitle, .nugTitle a, .nugTitle a:hover, #popup_title a, #popup_title a:hover { color:#333333; }
.nugTitle, .nugBody, .nugFooter, #popup { border-color:#333333; }
.nugBody { }
.nugBody, .nugBody a, .nugBody a:hover { }
/* Note: If nugget body BG is set you need to handle custom styles for inline nuggets */
html.toc, body.toc { }

/* map colors */
html.toc, body.toc { }
body.toc, body.toc .nugBody a, body.toc .nugBody a:hover { }
#guideMenu { }
#guideMenu, #guideMenu a, #guideMenu a:hover { }

/*END_TEMPLATE*/

@charset "UTF-8";
/* CSS Document */

@import "/AngelThemes/_global.css";
@import "/AngelThemes/Themes/Indigo/portal.css";
/* @import "/AngelThemes/Themes/Round White Glass/buttons.css"; */
@import "/AngelThemes/themes/Normal/mapicon.css";
@import "/AngelThemes/Themes/White/banner.css";
@import "/AngelThemes/Themes/Rounded/nugget.css";
@import "/AngelThemes/Themes/Rounded/tabbar.css";
@import "/AngelThemes/Themes/Square/tab.css";
@import "/AngelThemes/Themes/Round White Glass/bubble.css";

/* new stuff */

hr {
	border: none;
	height: 1px;
	background: #c0c0c0;
}

.bannerWin {
	overflow:hidden;
}

#shield {
margin-left:5px;
margin-top:0;
position:relative;
}

tr.calrow td {
border:1px solid #E5E5E5 !important;
}


/* always show nugget controls and content item contextual menu */
/*
PSU r:4879 -- update to styles to prevent no hover
div.controls {
visibility: visible !important;
}
ul.menu {
visibility: visible !important;
}
psu r: 4879 end
*/


/* Custom English css */

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/droidsans/v4/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

strong {
	font-weight: 700;
	}
	
h2 {
	font-size: 1em;
	margin-top: 25px;
	margin-bottom: 0;
	}
	
h3 {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
	}
	
p {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 15px;
	}
	
ul, ol {
	margin-bottom: 30px;
	}
	
a, body.toc .nugBody a {
    text-shadow: none;
}
	
.syllabus-email {
	text-decoration: none;
	}
	
body {
background: #fbfbfb;
color: #303030;
font-family: 'Droid Sans', Arial !important;
font-size: 1em;
font-weight: 400;
text-shadow: 0 1px 0 #f9f9f9;
}

/* body {text-shadow: 0 1px 0 #f9f9f9;} */

body, td, th {
font-family: 'Droid Sans', Arial !important;
font-weight: 400;
background: #fbfbfb;
}

body.interface, #tabMenu .rightCorner div, #tabMenu .leftCorner div {
background-color: #fbfbfb;
}

body.site_banner {
background-color: transparent !important;
}

body.bodyDefault {
	padding: 10px 10px 10px 25px;
}

#section_resources body.bodyDefault {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 15px 15px;
}

div#bannerSection {
background: transparent;
border-bottom: none;
padding: 0 !important;
position: relative;
z-index: 1000;
}

/* div#bannerSection { box-shadow: 0 0 5px rgba(0, 0, 0, 0.45); } */

div.banner {
    background-color: #263660 !important;
    background-image: url("https://cms.psu.edu/AngelUploads/Content/LB_2014SPUP_ENGL_ALL/lionshrine8.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom: medium none;
    border-right: medium none;
    border-top: none;
    padding-left: 0;
}

#bannerSection .pageTitle {
display: block !important;
font-weight: 400 !important;
left: 0;
position: relative;
text-align: left;
top: 0;
}

#bannerSection h1 {
font-size: 1em;
margin: 35px 0 0 100px;
padding: 0;
width: auto;
color: #f0f0f0 !important;
text-shadow: none;
}

.tabs {
    font-size: 0.9375em;
    padding-top: 14px;
    position: relative;
    width: 100%;
    text-shadow: none;
}

#tabMenu {
display: block;
float: none;
margin: 0;
overflow: hidden;
padding: 0 0 0 5px;
white-space: nowrap;
text-align: left;
border-top: none;
background: #263660;
}

#tabMenu li {
    display: inline-block;
    float: none;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#tabMenu li a span.center {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat-x;
    display: block;
    margin: 0;
    padding: 0;
}


#bannerSection .tabbar, 
#bannerSection #tabMenu li a.active, 
#bannerSection #tabMenu li a.active:hover {
	background-color: transparent;
	color: #f0f0f0;
	font-weight: 400;
}

#bannerSection #tabMenu li a, 
#bannerSection #tabMenu li a:hover {
	background-color: transparent;
	color: #f0f0f0;
	font-weight: 400;
}

#bannerSection #tabMenu li a.active:hover,
#bannerSection #tabMenu li a:hover {
	background-color: #4461AC;
	text-decoration: none;
}

#bannerSection .tabbar {
background-color: #263660;
margin-top: -4px;
}

#tabMenu li a {
cursor: pointer;
display: block;
font-weight: bold;
margin: 0;
min-width: 0;
padding: 8px 12px 9px;
text-align: center;
border-right: 1px solid #1a1e28;
}

.tabbar {
    background-attachment: scroll;
    background-position: left top;
    background-repeat: repeat;
    clear: both;
    height: 0.1em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

div#breadcrumbSection {
background: transparent;
}

#breadcrumbs {
margin-left: 14px;
}

#breadcrumbMenu {
margin: 0;
padding: 10px 0;
white-space: nowrap;
font-weight: 400;
font-size: 0.875em;
}

#breadcrumbMenu #bcHome,
#breadcrumbMenu #bcSectionHome {
	display: none;
	}

#identityWidget {
margin-top: -105px;
right: 30px;
z-index: 9999;
}

#pageSidebar {
background-color: transparent;
border-right: none;
}

ul#globalNav {
background-image: none;
}

#globalNav li {
background-image: none;
}

#globalNav li a {
	background-image: none;
    background-position: 4px center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 35px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 43px;
}

#contentWin {
border-left: none;
border-top: none;
margin: 0;
padding: 0;
}

.toolbarDiv {
border-bottom: none;
font-size: 0.6875em;
font-weight: normal;
padding: 0;
text-shadow: none;
}

.toolbar {
margin: 0 !important;
padding: 0 !important;
position: relative;
}

.submenu {
font-size: 0.75em !important;
padding-bottom: 25px;
}

#nugSectionAnnouncements {
margin: 0 0 0 -2px;
padding: 10px 0 0;
position: relative;
width: 100%;
font-size: 1.15em;
}

.nugTitle {
background-image: none;
border: none !important;
padding: 0 !important;
overflow: visible !important;
}

.nugTitle, .nugTitle a, .nugTitle a:hover, #popup_title a, #popup_title a:hover {
color: #303030;
}

body.interface, body.interface a, body.interface a:hover {
color: #303030;
}

.nugTitle, #popup_title {
background-color: transparent;
}

.nugTitle span.center {
}

.nugBody {
background-image: none;
border-width: 0;
}

.nugBodyLogo {
margin-top: 0;
padding: 0 0 30px;
}

.nugTitle .rightCorner, .nugTitle .leftCorner {
display: none;
}

.nugTitle div.controls {
padding: 0;
}

#section_resources div.controls {
    visibility: visible !important;
}

#nugSectionAnnouncements small {
    font-size: 1em;
    line-height: 1.525em;
    text-shadow: none;
}
	
#lnkSectionAnnouncements {
	color: #f9f9f9;
	text-shadow: none;
	display: none;
	}
	
.nugBodyLogo .normalDiv .normalSpan img {
	display: none;
	}

#section_resources .pageTitleSpan,
#section_intouch .pageTitleSpan,
body.bodyLessons h1.pageTitle,
#section_reports .pageTitle,
#section_tools .pageTitleSpan {
background-image: none !important;
background-position: left top;
background-repeat: no-repeat;
display: block;
margin-top: 15px;
min-height: 0;
padding: 0 !important;
font-weight: 400;
font-size: 2.5em;
letter-spacing: -0.0275em;
line-height: 1em;
}

#portalRefreshAll {
	display: none;
	}
	
SMALL .descriptionSpan,
.descriptionSpan {
    font-size: 1em;
}

#section_intouch .bodyDefault,
#section_reports .bodyDefault,
body.bodyLessons {
	max-width: 800px !important;
	margin: 0 auto !important;
	}
	
iframe#PAGE_TEXT___Frame {
	min-height: 400px !important;
	width: 100% !important;
	}
	
h1 img.largeIcon {
	display: none;
	}
	
div.toolbar div.actionMenu {
    left: 0;
    position: relative;
    text-align: left;
    top: 0;
}

div.toolbar {
    height: auto;
    padding: 0;
    position: relative;
    border-bottom: none !important;
}


.cmTypeROOT ul.directory li.diritem a img.largeIcon,
.cmTypeROOT ul.directory li.diritem a img.iconOverlay {
    display: none;
}

.toolbarSpan {
	margin-bottom: 5px;
}

body.cmTypeROOT ul.directory {
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    margin-left: 0;
    padding-left: 0;
}

ul.directory li.diritem div.title, table.dirgrid td.dircell div.title {
    font-size: 1.125em;
    font-weight: 400;
}

body.cmTypeROOT ul.directory li.diritem {
    background: #f6f6f6;
    border-top: 1px solid #c0c0c0;
    margin-bottom: 0;
    padding: 17px 0 10px 30px;
    position: relative;
}

body.cmTypeROOT ul.directory li.diritem:first-child {
    display: none;
}

ul.directory li.diritem ul.menu {
    font-size: 0.75em;
}

ul.menu li {
    display: inline;
    padding: 0 10px 0 0;
}

.folder_descr {
    font-size: 1.167em;
    line-height: 1.5em;
}

.normalDiv {
}

#regularCasePanel {
	max-width: 900px;
	margin: 20px auto 0;
	}

html#section_tools .bodyDefault {
	max-width: 1200px;
	margin: 0 auto;
}

.selected,
.fields,
.field {
    color: #303030 !important;
}



/*
@media (min-width: 940px) {

div#bannerSection {
	border-bottom: none;
	}

.tabs {
    float: right;
    margin: -48px 10px 0 0;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 1em;
	}

#tabMenu {
	border-top: none;
	background: transparent; 
	text-align: right;
	}
	
#tabMenu li a {
	padding: 4px 8px;
	border-right: none;
	}
	
#bannerSection .tabbar, 
#bannerSection #tabMenu li a.active, 
#bannerSection #tabMenu li a.active:hover {
	background-color: transparent;
	color: #e9e9e9;
	font-weight: 400;
	}

#bannerSection #tabMenu li a, 
#bannerSection #tabMenu li a:hover {
	background-color: transparent;
	color: #e9e9e9;
	font-weight: 400;
	}
	
#bannerSection #tabMenu li a.active:hover,
#bannerSection #tabMenu li a:hover {
	background-color: rgba(255, 255, 255, 0.25);
	text-decoration: none;
	border-radius: 5px;
	color: #262C3A;
}
	
#identityWidget {
	margin-top: 15px;
	}

}*/

@media (max-width: 600px) {
#section_resources .pageTitleSpan,
#section_intouch .pageTitleSpan,
body.bodyLessons h1.pageTitle,
#section_reports .pageTitle,
#section_tools .pageTitleSpan {
font-size: 2em;
letter-spacing: -0.0175em;
	}
}